*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./arrow-pointing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
img {
    width: 30vw;
}
h1{
    position: absolute;
    top: 6vh;
    font-size: 3em;
    /* color: ; */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
}