body{
    margin:0;
    padding:0;
    overflow: hidden;
  }
  
  .fireworksDiv{
    position:relative;
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: 100vh;
    z-index:9;
  }
  
  .text{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    height:100vh;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  
  .text h5{
    text-align:center;
    font-size:3rem;
    color:white;
    text-transform:uppercase;
    text-shadow: 3px -4px 4px red;
  }
  .text h5 span {
    text-transform: lowercase;
    font-size:0.6em;
  }
